﻿@model DistributedArchive.Web.Models.TrackersViewModel

@{
    ViewBag.Title = "TrackersIndex";
}

<h2>Known Trackers</h2>

<p style="color:red;font-weight:bold">@TempData["formResult"]</p>

@Html.Partial("TrackerEdit", Model.EditedTracker)

@Html.Partial("TrackersList", Model.ListOfTrackers)