﻿@model DistributedArchive.Web.Models.Tracker

<h2>Edit tracker</h2>

@using (Html.BeginForm("Edit", "Trackers"))
{
    @Html.ValidationSummary()
    @Html.AntiForgeryToken()

    @Html.HiddenFor(m => m.Id)
    @Html.Hidden("formAction", ViewData["formAction"]?.ToString())

    <div class="editor-label">@Html.LabelFor(m => m.Name)</div>
    <div class="editor-field">@Html.EditorFor(m => m.Name)</div>

    <div class="editor-label">@Html.LabelFor(m => m.Url)</div>
    <div class="editor-field">@Html.EditorFor(m => m.Url)</div>

    <div class="editor-label">@Html.LabelFor(m => m.InfoUrl)</div>
    <div class="editor-field">@Html.EditorFor(m => m.InfoUrl)</div>

    <input type="submit" value="SEND" />
}