﻿@model DistributedArchive.Web.Models.Tracker

@{
    ViewBag.Title = "TrackerData";
}

<h2>Datasheet of one tracker</h2>

@Html.ActionLink("Back to the list page", "Index")

<table border="1">
    <tr>
        <td>@Html.DisplayNameFor(m => m.Id)</td>
        <td>@Html.DisplayFor(m => m.Id)</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(m => m.Url)</td>
        <td>@Html.DisplayFor(m => m.Url)</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(m => m.Name)</td>
        <td>@Html.DisplayFor(m => m.Name)</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(m => m.InfoUrl)</td>
        <td>@Html.DisplayFor(m => m.InfoUrl)</td>
    </tr>
</table>