﻿@model IEnumerable<DistributedArchive.Web.Models.Tracker>

<h2>List of trackers</h2>

@if (Model.Count() == 0)
{
    <p>There are no trackers saved currently.</p>
}
else
{
    <table border="1">
        <tr>
            <th>@Html.DisplayNameFor(m => m.First().Name)</th>
            <th>@Html.DisplayNameFor(m => m.First().Url)</th>
            <th>Datasheet</th>
            <th>Delete</th>
            <th>Edit</th>
        </tr>
        @foreach (var tracker in Model)
        {
            <tr>
                <td>@Html.DisplayFor(m => tracker.Name)</td>
                <td>@Html.DisplayFor(m => tracker.Url)</td>
                <td>@Html.ActionLink("[SHOW]", "Details", new { id = tracker.Id })</td>
                <td>@Html.ActionLink("[DEL]", "Remove", new { id = tracker.Id })</td>
                <td>@Html.ActionLink("[EDIT]", "Edit", new { id = tracker.Id })</td>
            </tr>
        }
    </table>
}