﻿@{
    ViewBag.Title = "API Test";
}

<h2>API test</h2>

<p id="message" style="color:red;font-weight:bold"></p>
<ul id="trackers"></ul>
Tracker ID:
<input type="text" id="trackerId" />
<br />
<button onclick="doList()">LIST</button>
<button onclick="doListNEW()">LIST NEW</button>
<button onclick="doAdd()">ADD</button>
<button onclick="doMod()">MOD</button>
<button onclick="doDel()">DEL</button>

@section scripts {
    <script language="javascript">
        var url = "/api/TrackersApi/";

        function htmlEncode(value) {
            return $('<div />').text(value).html();
        }

        function doList() {
            $.get(url + "all", null, function (data, status, jqxr) {
                alert("ALL: " + data);
            }, "html");
        }

        function doListNEW() {
            $("#trackers").html("");
            $.getJSON(url + "all")
                .done(function (data) {
                    $.each(data, function (key, item) {
                        var html = "<li>#" +
                            htmlEncode(item.Id) + " " +
                            htmlEncode(item.Name) + " (" +
                            htmlEncode(item.Url) + ") more info: " +
                            htmlEncode(item.InfoUrl) + "</li>";
                        $("#trackers").append(html);
                    });
                });
        }

        function doAdd() {
            var newTracker = {
                "Url": "https://cool.new.url", "Name": "Best Site ever", "InfoUrl": "https://some.git.readme"
            };
            $.post(url + "add", newTracker, function (data, status, jqxr) {
                $("#message").html("ADD: " + data.SUCC);
                doListNEW();
            });
        }
        function doMod() {
            var newTracker = {
                "Id": $("#trackerId").val(), "Url": "https://cool.new.url", "Name": "Best Site in my city", "InfoUrl": "https://some.git.readme"
            };
            $.post(url + "mod", newTracker, function (data, status, jqxr) {
                $("#message").html("MOD: " + data.SUCC);
                doListNEW();
            });
        }
        function doDel() {
            $.get(url + "del/" + $("#trackerId").val(), null, function (data, status, jqxr) {
                $("#message").html("DEL: " + data.SUCC);
                doListNEW();
            });
        }
    </script>
}